@import "../../styles/main.scss";

.main__layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: $gray-200;
}

.main__content {
  height: 100vh;
  font-size: 1.4rem;
  color: rgb(96, 94, 92);
  overflow: hidden;
  flex: 1;
  .content__wrapper {
    height: calc(100vh - 6.5rem);
    max-width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .main__content {
    width: 100%;
  }
}

.floating__button {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  a {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    background-color: #0078d6;
    border-radius: 50%;
    cursor: pointer;
  }
  button {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    background-color: #0078d6;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    outline: none;
  }

  button:active,
  button:visited {
    outline: none;
  }
}
