.main__layout {
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.sidebar__content {
  width: 25rem;
  background-color: #0078d6;
  height: 100vh;
  overflow: hidden;

  &--logo {
    display: flex;
    padding: 2rem 1rem;
    justify-content: space-between;

    button {
      color: #fff;
      font-size: 2rem;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
}

.main__content {
  height: 100vh;
  padding: 0 3rem;
  font-size: 1.4rem;
  color: rgb(96, 94, 92);
  width: calc(100% - 25rem);
  overflow: hidden;

  .content__wrapper {
    height: calc(100vh - 6.5rem);
    max-width: 100%;
    overflow: auto;
    white-space: nowrap;
  }

  .top__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.5rem;
    width: 100%;
    button {
      background-color: transparent;
      color: rgb(96, 94, 92);
      border: none;
      margin-right: 1rem;
      outline: none;
      padding: 0.5rem;
      font-size: 2rem;
      cursor: pointer;
      &:active,
      &:visited {
        outline: none;
      }
    }
    .top__left {
      display: flex;
      min-width: 80%;
      align-items: center;
    }

    .top__right {
      display: flex;
    }
  }

  .page__title {
    font-size: 2.6rem;
  }
}

@media (max-width: 768px) {
  .main__content {
    padding: 0 1.5rem;
    width: 100%;
  }
}

.loading__button {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  a {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    background-color: #0078d6;
    border-radius: 50%;
  }
  button {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    background-color: #0078d6;
    border-radius: 50%;
    border: none;
    outline: none;
  }

  button:active,
  button:visited {
    outline: none;
  }
}
