@import "../../styles/main.scss";
.filter {
  padding: 1.5rem;
}

.slider {
  padding: 0 2rem;
  &-description {
    display: flex;
    justify-content: space-between;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: $gray-600;
  }
}
