@import "../../styles/main.scss";
.main__menu {
  list-style-type: none;
  padding: 0;
  li {
    a {
      padding: 0.5rem 1rem;
      display: block;
      text-decoration: none;
      font-size: 1.6rem;
      color: #ccc;
      height: 3.4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: all 0.3s;
      span {
        margin-right: 1rem;
      }

      div {
        transition: all 300ms;
      }
      &:hover {
        margin-top: -2px;
        color: $white;
      }
      &:active {
        margin-top: -1px;
      }
      &.active {
        color: #fff;
      }
      span {
        margin-left: 1rem;
      }
    }
  }
}
