.main__menu {
  li {
    a {
      padding: 0.8rem 1rem;
      margin-bottom: 1rem;
      display: block;
      text-decoration: none;
      font-size: 1.6rem;
      color: #ccc;
      height: 3.4rem;

      div {
        transition: all 300ms;
      }
      &:hover div {
        margin-top: -2px;
      }
      &:active {
        margin-top: -1px;
      }
      &.active {
        color: #fff;
      }
      span {
        margin-left: 1rem;
      }
    }
  }
}
